site_code.html
*/.DS_Store
.DS_Store
token_main.txt
token_all_questions.txt
token_immediate_sender.txt
TakeQuestionFromFile/credentials.json
TakeQuestionFromFile/token.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
